<!DOCTYPE html>
<html>
  <body>
    <h1>
      hello
    </h1>
    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(transmitPosition);
          console.log({{nlc}})
          location.reload({{nlc}});
        }
      }

      function transmitPosition(position) {
        fetch("/save_location", {
          method: "POST",
          body: JSON.stringify({
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }),
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json"
          }
        });
      }
      getLocation();
    </script>
  </body>
</html>
