.App {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
}

.App .headerOne {
  font-size: 180px;
  grid-column: 2 / 8;
}

.App .headerTwo {
  line-height: 100px;
  font-size: 180px;
  grid-column: 3 / 8;
}

.App .headerText {
  position: relative;
  top: 50px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.App .aboutUs {
  grid-column: 19 / 21;
}

.App .signup {
  grid-column: 21 / 23;
}

.App .imageOne {
  grid-column: 10 / 17;
  position: relative;
  bottom: 2rem;
}

.App .imageTwo {
  grid-column: 19 / 21;
  position: relative;
  top: 15rem;
}

.App .imageThree {
  grid-column: 4 / 8;
}
